html{
    --dimensiune-text:17px;
    font-size: var(--dimensiune-text);
    transition: all 500ms linear; /* comentariu */
}

.eater-regular {
    font-family: "Eater", serif;
    font-weight: 400;
    font-style: normal;
  }
  

h1{
    font-size: 3rem;
    font-family: "Eater", serif;
    font-weight: 400;
}

h2{
    font-size: 1.7rem;
}

body{
    /* background-color: bisque;
    background-color: lightblue; */
    background-image: linear-gradient(transparent, transparent 15%, rgba(255,255,255,0.7) 40%, rgba(255,255,255,0.7) 60%, transparent 85%, transparent), url("../imagini/background-bomboane.jpg");
    background-attachment: fixed;
    background-size: cover;
    --spatiere--pagina:150px;

    padding-left: var(--spatiere--pagina);
    padding-right: var(--spatiere--pagina);
}


main{

    --spatiere--pagina:50px;
    padding-left: var(--spatiere--pagina);
    padding-right: var(--spatiere--pagina);
    padding-top: 15px;
    background-color:  rgba(255,255,255,0.85) ;
}

.farfurie{
    width: 90%;
    max-width: 450px;
}

#grid-pagina{
    display: grid;
    grid-template-areas: "z-welcome z-welcome z-welcome"
                         "z-produse z-produse z-promotii"
                         "z-fig1 z-anunturi z-anunturi"
                         "z-fig2 z-anunturi z-anunturi"
                         "z-fig3 z-orar z-orar"
                         "z-index-intrebari z-index-intrebari z-index-intrebari";

    gap:20px;
    row-gap: 10px;
}

#grid-pagina > *{
    outline: 1px solid black;
    margin: 0;
    padding: 15px;
}

#welcome{
    grid-area: z-welcome;
}
#promotii{
    grid-area: z-promotii;
}
#produse{
    grid-area: z-produse;
}
#orar{
    grid-area: z-orar;
}
#fig1{
    grid-area: z-fig1;
}
#fig2{
    grid-area: z-fig2;
}
#fig3{
    grid-area: z-fig3;
}
#anunturi{
    grid-area: z-anunturi;
}
#index-intrebari{
    grid-area: z-index-intrebari;
}


.fg-img>img{
    width: 100%;
}

#tab-orar {
    border-collapse: collapse;
    counter-reset: nr_zi;
}

#tab-orar td, #tab-orar th{
    border: 1px solid black;
    padding: 5px;
    
}

#tab-orar tbody tr{
    --cod-zi: "L";
}
#tab-orar tbody tr:nth-child(n+6){
    --cod-zi: "W";
}
#tab-orar tr td:first-child::before{
    font-weight: bold;
    counter-increment: nr_zi;
    content: var(--cod-zi) " - "counter(nr_zi,upper-roman) ".";
}




/* ---- link sus ------*/

#link-top{
  position:fixed;
  box-shadow: blue 0px 0px 5px 4px;
  bottom:0.3em;
  opacity:0.5;
  right:0.3em;
  width:3rem;
  box-sizing: border-box;
  height:3rem;
  line-height:3rem;
  text-align:center;
  border:5px solid grey;
	/* border-top-color:red; */
  border-radius:50%;
  background: rgb(220,220,220);
  transition: all 0.5s linear;
}
#link-top:hover{
  opacity:1;
}
#triunghi{
  transition: all 0.5s linear;
  height:0px;
  width:0;
  display:inline-block;
  border-bottom:1.5rem solid grey;
  border-left:1rem solid transparent;
  border-right:1rem solid transparent;
  vertical-align: top;
  transform:  translateY(25%) ;
}

#link-top:hover #triunghi{
    border-bottom:1.5rem solid blue;
}



.container-iframe{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    width: 560px;
}

.container-iframe iframe{
    width:100%;
}

.taburi-iframe{
    display: flex;
    flex-direction: column;
}

.taburi-iframe>a{
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 2px solid rgba(241, 44, 255);
    --colt-rotunjit:15px;
    border-top-left-radius: var(--colt-rotunjit);
    border-top-right-radius: var(--colt-rotunjit);
    transition: all 0.5s linear;
    text-decoration: none;
}

.taburi-iframe>a:hover{
    background-color: rgb(245, 159, 251);
}

body{
    overflow-x: hidden;
}

h1{
    animation-name: misca_titlu;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 1s;
    opacity: 0;
    transform: translateX(40%);
    animation-fill-mode: forwards;
}

@keyframes misca_titlu {

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}