<!DOCTYPE html>
<html lang="ro">
    <head>


        <%- include("../fragmente/head.ejs") %>

        <meta name="description" content="Cofetaria Dulcelind ofera prajituri, torturi, produse de patiserie cu optiunea de achizitie online si livrare prin curier.">
        <meta name="keywords" content="cofetarie, Dulcelind, cofetaria Dulcelind, prajituri, torturi, dulce, pateuri, produse">
        <title>Cofetăria Dulcelind</title>

        <!-- <link rel="stylesheet"  href="/resurse/css/exemplu.css" type="text/css" /> -->
        <!-- 
        <link rel="shortcut icon" href="/resurse/imagini/favicon.ico" type="image/x-icon"/>

  
        <link rel="stylesheet" href="/resurse/css/layout.css" type="text/css" />
        

 -->

    </head>
    <body>


    <%- include("../fragmente/header.ejs") %>
    <main> <!--  comentariu -->
        Alta pagina <%- locals.variabila  %>


    </main>
    <%- include("../fragmente/footer.ejs") %>

    </body>
</html>