    <footer id="subsol">
        <p id="banner">Acesta e un proiect scolar<button id="ok_cookies">Accepta cookies</button></p>  
        <a href="#" title="mergi sus" id="link-top"><div id="triunghi"></div></a>
		<address>
			Strada prajiturilor, nr. 10, București, sector 1, România
            E-mail: <a href="mailto:dulcelind@gmail.com">Georgica</a>
            Telefon: <a href="+40721111111">tel</a>
		</address>
    </footer>